#form_sample, #form_global, .panel-footer {
    display: none;
}
.entry_form input[type='text'], .entry_form input[type='number'], .entry_form input[type='email'], .entry_form input[type='password'], input[type='tel'] {
    display: block;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 5px;
    padding: 2px;
    width: 300px !important;
    border: 1px solid #ccc;
    color: #777;
    background: #fff;
}

.attendee_special {
    margin-left:16px;
    margin-right:16px;
    margin-top:4px;
    margin-bottom: 4px;
    border: solid 1px #999;
    border-radius: 5px;
    padding:4px;
}
iframe.stripe {
    width:400px;
    height:600px;
    border:0px;
}
.stripe-button-el {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}
#form_sample, #form_global, .panel-footer {
    display: none;
}
.entry_form input[type='text'], .entry_form input[type='number'], .entry_form input[type='email'] {
    display: block;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 5px;
    padding: 2px;
}

.attendee_special {
    margin-left:16px;
    margin-right:16px;
    margin-top:4px;
    margin-bottom: 4px;
    border: solid 1px #999;
    border-radius: 5px;
    padding:4px;
}
iframe.stripe {
    width:400px;
    height:600px;
    border:0px;
}
